services:
  db:
    image: postgres:15
    container_name: postgres_prod_db
    restart: always
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env.prod
    environment:
      POSTGRES_DB: curupira
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d curupira" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: production
    container_name: django_backend_prod
    env_file:
      - ./backend/.env.prod
    environment:
      POSTGRES_DB: curupira
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    expose:
      - "8000"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: production
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  nginx:
    image: nginx:1.25
    container_name: nginx_prod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/ssl
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - backend

volumes:
  postgres_prod_data:
  static_volume:
  media_volume:
