services:
  db:
    image: postgres:15
    container_name: postgres_test_db
    restart: always
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_password
    volumes:
      - postgres_test_data:/var/lib/postgresql/data
    ports:
      - "5450:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U django_user -d django_db" ]
      interval: 2s
      timeout: 2s
      retries: 10

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development
    container_name: django_backend_test
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    entrypoint: [ "/bin/sh", "/app/entrypoint-test.sh" ]
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  postgres_test_data:
